body {
    font-family: 'Domine', serif;
    background-color:#4f4f4f;
}

#header {
    text-align: right;
    font-size: 1.25em;
    margin-bottom: 20px;
}

#header h1 {
    font-size:2.5em;
    font-family: Domine;
    font-weight: 900;
    color:#219653;
}

.wrapper{
    background: #E0E0E0;
}
#footer{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin: 20px;
    color:black;
    text-align:center;
    font-size:3em;
   
}
.contact{
    font-size:1.75vmin;
    color:black;
    top:0;
    text-align:right;
    margin-top:0;
    margin-bottom:.25vmin;
    
}
a:link{
    text-decoration:none;
}
#header h1{
    text-align:right;
    font-size:4.5vmin;
    color:#219653;
    
    margin-bottom:.25vmin;
}
.TopJumbo {
    margin-top:1vmin;
    background-image: url('Images/jumbotronImg.jpg');
}

.github {
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
    background-color: #E0E0E0;
}
.linkedin{
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
}
.github img{
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background-color: #E0E0E0;
}
.linkedin img{
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}
.thumbnail {
    background-color:rgba(76, 175, 80, 0.0) 
}
.caption{
    text-align:center;
}
.caption h3{
    color:#219653;
}
hr{
    border:1px solid black;
}
.heading{
    font-size:4.5vmin;
    color:#219653;
}
#rickPic {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}